[submodule "package/pkgbuild/pkgbuild-generator"]
	path = package/pkgbuild/pkgbuild-generator
	url = https://github.com/VerhagenConsultancy/pkgbuild-generator.git
[submodule "package/dpkg/dpkg-generator"]
	path = package/dpkg/dpkg-generator
	url = https://github.com/VerhagenConsultancy/dpkg-generator.git
